button {
  padding: 5px;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

h1 {
  font-family: 'Inter', sans-serif;
}

h2 {
  font-family: 'Inter', sans-serif;
}

h3 {
  font-family: 'Inter', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;
}

td {
  font-family: 'Inter', sans-serif;
}

label {
  font-family: 'Inter', sans-serif;
}

th {
  font-family: 'Inter', sans-serif;
}